
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span matListItemTitle>Settings</span>
  </a>
  <a mat-list-item routerLink="/auth" routerLinkActive="active">
    <mat-icon matListItemIcon>logout</mat-icon>
    <span matListItemTitle>Sign Out</span>
  </a>
</mat-nav-list>
